body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

recipe-card h3 {
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: #eee;
}

recipe-card p {
    padding: 1rem;
    margin: 0;
}

recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
